{% extends 'common.html.twig' %}
{% block content %}

<article>
    <div class="background-concept">
        <div class="titre">
             <h1>NOTRE CONCEPT</h1>
        </div>

        <div class="bloc-concept">
            <div class=concept">
                 <h4>La Scandinavie, c’est cette région que l’on trouve au Nord de l’Europe qui est faite de pays si particuliers. Ces pays bénéficient d’une faune et d’une nature sauvage exceptionnelle. Frontière entre l’Europe et le cercle Arctique, les pays scandinaves offrent quelques-uns des plus beaux paysages au monde, mais pas que !
                     La Norvège, la Suède et le Danemark constituent la Scandinavie au sens strict du terme, mais dans un  sens plus large, la Scandinavie comprend également la Finlande et l’Islande.
                     Avec tous leurs atouts, les pays scandinaves apparaissent vraiment comme une destination privilégiée pour les fans de nature, et de façon plus générale, pour tous les amoureux des espaces sauvages.
                </h4>
            </div>

            <div class="arbre">
                 <img src="{{ asset('assets/img/arbre.jpg') }}" class="img-fluid" alt="arbre">
            </div>
        </div>
    </div>
</article>


{% endblock %}