{% extends 'common.html.twig' %}
{% block content %}

<article>
    <div class="titre">
        <h1>NOTRE CONCEPT</h1>
    </div>

<div class="bloc-concept">
        <div class=concept">
                 <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                    quia molestiae omnis suscipit culpa ipsum cum amet dolorum! Porro quaerat consequuntur veniam.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima neque nihil, placeat, alias distinctio tempora rerum illo,
                </h4>
        </div>

        <div class="arbre">
            <img src="{{ asset('assets/img/arbre.jpg') }}" class="img-fluid" alt="arbre">
        </div>

</div>
</article>


{% endblock %}