{% extends 'common.html.twig' %}
{% block content %}

<article>
    <div class="background-concept">
        <div class="titre">
             <h1>NOTRE CONCEPT</h1>
        </div>

        <div class="bloc-concept">
            <div class=concept">
                 <h4>Ayant une véritable attirance pour les pays scandinaves, j’ai choisi de réaliser mon projet (fictif) sur ce thème en mettant en place une agence de voyages en ligne.
                     Ces pays, célèbres pour leurs longs mois d’obscurité, de froid et de neige, de vastes zones montagneuses et couvertes de forêts ont inspiré le design dit « scandinave » très épuré.
                     Le site KOD (code en suédois), rejoint donc cet esprit en utilisant une charte graphique, moderne et utilisant des couleurs simples proche de la nature.

                     4 destinations (Danemark, Finlande, Norvège et Suède) sont proposées au visiteur. Il aura le choix entre 2 « packs » par pays, l’un axé « City » et le second, « Nature ».

                     Il pourra ensuite déterminer le nombre de nuits souhaitées et le nombre de voyageurs avant de valider son séjour et d’obtenir un récapitulatif complet avec le détail de son voyage en fonction des choix établis précédemment.
                     Une interface administrateur opérationnelle a été mise en place permettant de modifier, créer et supprimer l’intitulé, la description, le contenu, le nombre de voyageurs ainsi que la durée d’un pack à tout moment.

                 </h4>
            </div>

            <div class="arbre">
                 <img src="{{ asset('assets/img/arbre.jpg') }}" class="img-fluid" alt="arbre">
            </div>
        </div>
    </div>
</article>


{% endblock %}