{% extends 'common.html.twig' %}

{% block content %}






    <!-- MAIN -->
    <article class="bloc">
        <div class="pays">
            <h2>LA FINLANDE</h2>
            <p>Le plus petit des pays scandinaves (si l'on met de côté le Groenland et les îles Féroé). Ce pays légendaire est bordé par la mer Baltique et la mer du Nord. Il est composé d'une péninsule (Jylland) et de 443 îles, dont 72 habitées. Ce pays est relativement plat et le climat tempéré avec des étés doux et des hivers frais. Découvrez le pays de Hans Christian Andersen, Kierkegaard et Karen Blixen. Faites votre choix entre les régions de Copenhague, Sjaelland, Jutland et la Fionie. Les plages y sont propres, les forêts profondes et la quiétude de la campagne danoise saura vous dépayser... Bon voyage !
            </p>
        </div>
        <div class="img-danemark_ileaero">
            <img class="img-fluid" src="{{ asset('assets/img/danemark_ileaero.jpg') }}">
        </div>
    </article>



{% endblock %}